psycopg2-binary
python-dotenv
requests
boto3
schedule
pandas
numpy
python-dateutil
aiohttp
alembic
sqlalchemy
streamlit
shap
plotly
matplotlib
seaborn
lightgbm
scikit-learn
joblib
folium
streamlit-folium
